In [1]:
import pypyodbc as odbc
from cred import *

In [8]:
conn = odbc.connect(
        driver= driver,
        server= server,
        database = database,
        Trust_connection= Trust_connection)

In [9]:
curobj = conn.cursor()

In [20]:
curobj.execute("select *, DATEDIFF(YEAR, ACCT_OPEN_DATE, GETDATE()) as accountage from Account_details")
rows = curobj.fetchall()
for row in rows:
    print(row)

(11112881, 'Shubham', '2015-12-09', 'MUMBAI', 9)
(11112882, 'Rihan', '2016-01-12', 'Jaipur', 8)
(11112883, 'Sheetal', '2017-08-11', 'GOA', 7)
(11112884, 'Priyanka', '2017-01-01', 'Chennai', 7)
(11112885, 'Manik', '2015-01-08', 'Agra', 9)
(11112886, 'Veena', '2021-01-01', 'Patna', 3)
(11112887, 'Rohan', '2019-07-01', 'Pune', 5)
(11112888, 'Laxmi', '2024-10-10', 'rohatak', 0)
(11112889, 'Jinal', '2024-10-10', 'Indore', 0)

In [30]:
n = input("enter name: ")
acc_o_date = input("enter date(yyyy-mm-dd): ")
c = input("enter branch: ")
try:
    curobj.execute(f"insert into Account_details values ('{n}','{acc_o_date}','{c}')")
    data = curobj.fetchone()
    conn.commit()
    print(data, "row inserted...")
except:
    conn.rollback()
    print("Unable to insert!!!")

(11112898, 'poonam', '2022-05-16', 'mumbai') row inserted...

In [44]:
acc_num = int(input("enter account number: "))
try:
    curobj.execute(f"delete from Account_details where ACCT_NUMBER = {acc_num}")
    deleted_data = curobj.fetchone()
    conn.commit()
    print(deleted_data, "deleted...")
except:
    conn.rollback()
    print(f"Account number {acc_num} data not exist!!!")

None deleted...

In [11]:
curobj.execute("select * from information_schema.tables")
rows = curobj.fetchall()
for row in rows:
    print("table schema: ",row[0])
    print("table name: ",row[2])
    print("table type: ",row[3])
    print()

table schema:  venky_db
table name:  Account_details_dml_info
table type:  BASE TABLE

table schema:  venky_db
table name:  set1
table type:  BASE TABLE

table schema:  venky_db
table name:  set2
table type:  BASE TABLE

table schema:  venky_db
table name:  Account_details
table type:  BASE TABLE

table schema:  venky_db
table name:  sysdiagrams
table type:  BASE TABLE

In [19]:
curobj.execute("select * from Account_details_dml_info")
rows = curobj.fetchall()
for row in rows:
    print(row)

(1, 'acct_number 11112881 is inserted at Oct 19 2024  5:07PM')
(2, 'acct_number 11112882 is inserted at Oct 19 2024  5:07PM')
(3, 'acct_number 11112883 is inserted at Oct 19 2024  5:07PM')
(4, 'acct_number 11112884 is inserted at Oct 19 2024  5:07PM')
(5, 'acct_number 11112885 is inserted at Oct 19 2024  5:07PM')
(6, 'acct_number 11112886 is inserted at Oct 19 2024  5:07PM')
(7, 'acct_number 11112887 is inserted at Oct 19 2024  5:07PM')
(8, 'acct_number 11112888 is inserted at Oct 19 2024  5:07PM')
(9, 'acct_number 11112889 is inserted at Oct 19 2024  5:07PM')

In [17]:
try:
    curobj.execute("update Account_details set branch = 'chennai' where acct_number = 11112900")
    conn.commit()
    print("updated")
except:
    conn.rollback()
    print("Error!!!")

updated

In [21]:
curobj.close()
conn.close()