In [1]:
import mysql.connector

In [2]:
conn = mysql.connector.connect(host='localhost', password='@laneVenky95', user='root', port=3306, database = 'revison')

In [3]:
curobj = conn.cursor()

In [41]:
# fetch all records from table
sql_qry = input("enter sql_qry(countries, emp, employee): ")
curobj.execute(sql_qry)
rows = curobj.fetchall()
for row in rows:
    print(row)
print("Total rows: ",curobj.rowcount)

(1, 'Meena', 'HYD', 4000)
(2, 'tina', 'Pune', 3000)
(3, 'Mona', 'Mumbai', 5000)
(4, 'priya', 'Jaipur', 7000)
(5, 'Meera', 'Patna', 8000)
(6, 'radha', 'Delhi', 9000)
(7, 'shina', 'Goa', 2000)
(8, 'Amit', 'Panji', 4000)
(9, 'Bali_Patil', 'Panji', 3400)
(10, 'SAM_Curran', 'UK', 4500)
Totle rows:  10

In [21]:
# insert records in table
sql_qry = input("enter sql_qry(countries, emp, employee): ")
try:
    curobj.execute(sql_qry)
    conn.commit()
    print(curobj.rowcount, "rows inserted...")
except:
    conn.rollback()
    print("unable to insert!!!")

1 rows inserted...

In [63]:
# first min salry
sql_qry = "select min(sal) as minsal from emp"
curobj.execute(sql_qry)
row = curobj.fetchone()
print(row)

(2000,)

In [64]:
# second min salary
sql_qry = "select min(sal) as secondMinSAL from emp where sal >(select min(sal) from emp)"
curobj.execute(sql_qry)
row = curobj.fetchone()
print(row)

(3000,)

In [65]:
# third min salary
sql_qry = "select min(sal) as secondMinSAL from emp where sal >(select min(sal) from emp where sal >(select min(sal) from emp))"
curobj.execute(sql_qry)
row = curobj.fetchone()
print(row)

(3400,)

In [5]:
sql_qry = input("Enter qry for creat table: ")
try:
    curobj.execute(sql_qry)
    print("Table created...")
except:
    print("Something went wrong!!!")

Table created...

In [14]:
sql_qry = input("Enter qry for insert record: ")
try:
    curobj.execute(sql_qry)
    conn.commit()
    print(curobj.rowcount, "record inserted...")
except:
    conn.rollback()
    print("Unable to insert!!!")
finally:
    curobj.reset()

Unable to insert!!!

In [16]:
curobj.close()
conn.close()